html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#container {
  height: 100%;
  width: 100%;
  display: table;
}

#count {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.blink {
  margin-right: .05em;

  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
         -webkit-animation-duration: 1s;
             -webkit-animation-name: blinker;
}
